# Auto detect text files
* text=auto eol=lf

# Source Code
*.ts text
*.tsx text
*.js text
*.jsx text
*.json text
*.yaml text
*.yml text
*.md text

# Scripts
*.sh text eol=lf
*.ps1 text eol=crlf
*.bat text eol=crlf

# Binary Files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
